@import '../../variables.scss';

.outlined-box {
    background-color: $EerieBlack;
    padding: 3rem;
    outline: 0.1rem solid $White;
    height: 12rem;
    width: auto;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
        font-family: $font-body;
        font-size: 1rem;
        color: $DarkWhite;
        font-weight: 400;
        width: 80%;
    }
}